<h1>Create Team</h1>

<form action="/create_team" method="POST">
    <label for="team_name">Team Name</label><br>
    <input type="input" id="team_name" name="team_name" placeholder="Team Paws"><br>

    <label for="is_open">Do You Want Your Team To Be Open? (strangers can join)</label>
    <fieldset>
        <legend></legend>
        <label for="open_yes">Yes:</label>
        <input type="radio" id="open_yes" name="is_open" value="true" required>
        
        <label for="open_no">No:</label>
        <input type="radio" id="open_no" name="is_open" value="false" required>
    </fieldset>

    <input type="submit" value="Submit"><br>
</form>

<form action="/add_team_members" method="POST">
  <label for="add_team_members_email">Add Team Members (enter email)</label><br>
  <input type="input" id="add_team_members_email" name="add_team_members_email" placeholder="yourfriend@email.com">

  <input type="submit" value="Submit"><br>
</form>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>



    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-end">
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
          Edit</a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>