<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">University</th>
      <th scope="col">Status</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

  <h5>Team {{team_name}} </h5>
  <h5>Open Team: {{is_open}} </h5>
  <h7>Open team means strangers can ask to join your team</h7>
    {{#each teammates}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.university}}</td>
      <td>
        {{!-- If team owner --}}
        {{#if (eq this.google_id this.created_by_google_id)}}
          Team Owner
        {{else}}
        {{!-- Not team owner, member that accepted invitation --}}
          {{#if (eq this.accepted_invitation 'ACCEPTED')}}
            Member - Accepted Invitation
          {{else}}
          {{!-- Not team owner, member pending invitation --}}
            {{#if (eq this.accepted_invitation 'PENDING')}}
              Member - Pending Invitation 
              {{!-- Not team owner, member that declined invitation --}}
            {{else}}
              Not Member - Declined Invitation
            {{/if}}
          {{/if}}
        {{/if}}
      </td>
      <td class="text-end">
      {{#if ../is_owner}} <!-- Check if the logged-in user is the team owner -->
      {{#unless (eq this.google_id ../owner_google_id)}} <!-- Check if the current google_id is not the owner's -->
        <form action="/remove_team_member/{{this.google_id}}/{{../team_id}}" method="POST">
            <button type="submit" class="btn btn-danger btn-small">
                <i class="bi bi-check-lg"></i> Remove
            </button>
        </form>
      {{/unless}}
      {{else}}
        {{#if (eq this.accepted_invitation 'PENDING')}}
        <form action="/accept_team_invitation/{{this.google_id}}/{{../team_id}}" method="POST">
            <button type="submit" class="btn btn-danger btn-small">
                <i class="bi bi-check-lg"></i> Join Team
            </button>
        </form>
        <form action="/decline_team_invitation/{{this.google_id}}/{{../team_id}}" method="POST">
            <button type="submit" class="btn btn-danger btn-small">
                <i class="bi bi-person-x"></i> Decline Team Invitation
            </button>
        </form>
      {{else}}
      {{#if (eq this.accepted_invitation 'ACCEPTED')}}
      {{#if (eq this.google_id ../google_id)}}
        <form action="/remove_team_member/{{this.google_id}}/{{../team_id}}" method="POST">
            <button type="submit" class="btn btn-danger btn-small">
                <i class="bi bi-check-lg"></i> Leave Team
            </button>
        </form>
      {{/if}}
      {{/if}} 
      {{/if}} 
      {{/if}} 
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>